@CHARSET "UTF-8";

@font-face{
    font-family: 'Raleway';
    src: url('https://fonts.googleapis.com/css?family=Raleway');
        font-weight: normal;
        font-style: normal;
}

body {
    font-family: Raleway;
    width: 60%;
    margin: auto;
}

ul .list-item {
    list-style: none;
    padding: 5px 0;
}

.list-item a {
    text-decoration: none;
    color: #222222;
}

