<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Annuaire personne</title>
        <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway" />
        <h:outputStylesheet library="css" name="style.css"  />
    </h:head>
    <h:body>
        <h1>Annuaire personnes</h1>
        <ul>
            <ui:repeat var="person" value="#{personsBean.getPersons()}">
                <li class="list-item"><h:outputLink value="xhtml/view.faces">
                    <f:param name="id" value="#{person.id}"/>
                    <h:outputText value="#{person.name} #{person.firstname}"/>
                    </h:outputLink>
                </li>            
            </ui:repeat>
        </ul>
    </h:body>
</html>

