<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <h:head>
        <title>Detail</title>
        <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway" />
        <h:outputStylesheet library="css" name="style.css"  />
    </h:head>
    <h1>Détail</h1>
    <h:body>
        <p><h:outputLabel value="Nom : #{personBean.getPerson().name}"/></p>
        <p><h:outputLabel value="Prénom : #{personBean.getPerson().firstname}"/></p>
        <p><h:outputLabel value="Age : #{personBean.getPerson().age}"/></p>
        <p><h:outputLabel value="Adresse : #{personBean.getPerson().address}"/></p>
        <p><h:outputLabel value="Travail : #{personBean.getPerson().job}"/></p> 
        <hr/>
        <h:dataTable var="relation" value="#{personBean.getPerson().relations}">
            <h:column>
                <h:outputText value=" Type de relation : #{relation.description} "/><br></br>
                <h:outputText value="#{relation.secondPerson.name} #{relation.secondPerson.firstname}"/>
            </h:column>
        </h:dataTable>
    </h:body>
</html>